{% macro login_fieldset(request, form) %}
    {% if not form %}
        {% set form = get_login_form() %}
    {% endif %}
    {{ bootstrap_form(form, layout='horizontal') }}
{% endmacro %}

{% macro login_form(request, form) %}
    <form method="POST" action="{% url "auth_login" %}" rel="ajax" class="form-horizontal">
        {% csrf_token %}
        {{ login_fieldset(request, form) }}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="{% trans %}Log in &raquo;{% endtrans %}" />
                <a href="{% url "auth_password_reset" %}">{% trans %}Forgot password?{% endtrans %}</a>
            </div>
        </div>
    </form>
{% endmacro %}

{% macro login_widget(request, form) %}
    {% if request.user.is_authenticated() %}
        <p class="alert alert-info"><strong>{% trans %}Note{% endtrans %}:</strong> {% trans %}You are already logged in as {{ user }}.{% endtrans %}</p>
    {% else %}
        {% url "auth_signup" as signup_url %}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p>
                    {% trans next=request.GET.next %}Don't have an account? <a href="{{ signup_url }}?next={{ next }}">Sign up</a>!{% endtrans %}
                </p>
            </div>
        </div>
    {% endif %}
    {{ login_form(request, form) }}
{% endmacro %}
