{% extends "site_base.html" %}

{% load i18n %}

{% block title %}{% trans %}Password reset{% endtrans %}{% endblock %}

{% block body %}
    {% if validlink %}
        <h1>{% trans %}Enter new password{% endtrans %}</h1>
        <p>{% trans %}Please enter your new password twice so we can verify you typed it in correctly.{% endtrans %}</p>

        <form action="" method="post">
            {% csrf_token %}
            {{ form.new_password1.errors }}
            <p class="aligned wide"><label for="id_new_password1">{% trans %}New password{% endtrans %}:</label>{{ form.new_password1 }}</p>
            {{ form.new_password2.errors }}
            <p class="aligned wide"><label for="id_new_password2">{% trans %}Confirm password{% endtrans %}:</label>{{ form.new_password2 }}</p>
            <p><input type="submit" class="submit" value="{% trans %}Change my password{% endtrans %}" /></p>
        </form>
    {% else %}
        <h1>{% trans %}Password reset unsuccessful{% endtrans %}</h1>
        <p>{% trans %}The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.{% endtrans %}</p>
    {% endif %}
{% endblock %}
